.vs/
packages/
SexyProxy.Fody/obj/
*.nupkg
SexyProxy.Fody/bin/
SexyProxy.Fody.Tests/obj/
SexyProxy.Fody.Tests/bin/
SexyProxy.Net45/bin/
SexyProxy.Net45/obj/
SexyProxy.Emit.Tests/bin/
SexyProxy.Emit.Tests/obj/
SexyProxy.Tests.ExternalLibrary/bin/
SexyProxy.Tests.ExternalLibrary/obj/
SexyProxy.Ios/bin/
SexyProxy.Ios/obj/
Weavers/bin/Weavers.dll
Weavers/bin/Weavers.pdb
_ReSharper.Caches/
SexyProxy.Emit/bin/
SexyProxy.Emit/obj/
SexyProxy/bin/
SexyProxy/obj/
*.user
